{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="mb-3">{{list_name.list_name}}</h3>
    <form action="/add_item/{{list_name.id}}/" method="post">
        {% csrf_token %}
        {{form.list_item}}
        <input type="submit" value="Add Item" class="btn btn-success">
        <a href="/" class="btn btn-primary">Save List</a>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            {% for i in list_items %}
            <tr>
                <td>{{i.list_item}}</td>
                <td>
                    <form action="/list_page/{{list_name.id}}/del_item/{{i.id}}/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                <td>
                    <form action="/list_page/{{list_name.id}}/edit_item/{{i.id}}/" method="get">
                        {% csrf_token %}
                        <input type="submit" value="Edit" class="btn btn-primary">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}